body {
  background-color: #707070; }

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: #00B2B2; }

.navbar-inverse .navbar-nav .active > a {
  color: #00B2B2; }

#mapContainer {
  padding: 0; }

#googleMap {
  margin-top: -20px;
  width: 100%;
  height: calc(100vh - 50px); }

.selectionMenu {
  background-color: #333;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #00B2B2; }
  .selectionMenu label {
    color: #00B2B2;
    padding-top: 5px; }
  .selectionMenu select {
    background-color: #435E5E;
    color: black; }
  .selectionMenu button:hover {
    background-color: #8c8c8c; }

.dayHolder {
  padding: 10px;
  background-color: #435E5E;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 2px solid #00B2B2; }
  .dayHolder .nav.nav-pills li a {
    background-color: #333;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 15px;
    border: 2px solid #00B2B2;
    color: #00B2B2; }
    .dayHolder .nav.nav-pills li a:hover {
      background-color: #666666; }

.activitiesHolder {
  background-color: #333;
  border: 2px solid #00B2B2;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top: none;
  padding-left: 10px;
  color: black; }
  .activitiesHolder ul {
    list-style-type: none;
    padding-left: 5px; }
  .activitiesHolder .activtiesLead {
    margin-top: 0px;
    padding-top: 15px; }
  .activitiesHolder button {
    margin-bottom: -3px;
    border-radius: 5px; }
  .activitiesHolder a {
    font-size: 18px; }

@media (max-width: 992px) {
  #mapContainer {
    margin-bottom: 15px; }
  #googleMap {
    height: 50vh; } }

@media (max-width: 768px) {
  #mapContainer {
    margin-bottom: 15px; }
  #googleMap {
    height: 50vh; } }

.btn-gray {
  display: inline-block;
  background-color: silver; }
